<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="assets/images/button_back.png" alt="Logotipo" class="buttonback" [routerLink]="'/home'" name="home"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-img src="assets/icon/favicon.png" alt="Logotipo" class="logoimage"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-container">
    <img src="assets/images/profile.png" alt="Profile Image" class="profile-img">
    <p class="profile-name">Esteves</p>
    <p class="profile-description">Estudo na escola ESTG sao defeciente informatico que decidiu escrevever uma informação nada percetivel.</p>
    <button class="profile-button">Seguir</button>
  </div>
  
<div class="listcontainer">
  <div class="list-header">
    <div class="header-bar"></div>
    <h2>Viagens</h2>
  </div>
  <ion-list lines="inset" class="listaviagens">
    <app-tripcard *ngFor="let travel of travels" [travel]="travel"></app-tripcard>
  </ion-list>
</div>
  
</ion-content>