<ion-fab slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon [routerLink]="'/settings'"  name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon [routerLink]="'/profile'" name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon [routerLink]="'/home'"  name="moon"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button>
        <ion-icon [routerLink]="'/home'"  name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


