<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTRMCocxLH6KsCEjsZz6BMfVyJGGe4Tjc&libraries=places&callback=initAutocomplete" async defer></script>
<app-nav-bar2 color="success"></app-nav-bar2>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-container">
    <ion-item class="custom-input" lines="none">
      <ion-input type="text" placeholder="Pesquisar" [(ngModel)]="search"></ion-input>
      <ion-icon name="search" slot="end"></ion-icon>
    </ion-item>
  </div>

  <ion-list lines="inset" class="listaviagens" >
    <app-tripcard *ngFor="let travel of travels" [travel]="travel"></app-tripcard>
  </ion-list>




</ion-content>
<app-navigationbtn></app-navigationbtn>
<app-footer></app-footer>